
#registration-form {
    background: #2E2C2A;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    margin: 1em 5em;
    padding: 1em 4em;
    margin-bottom: 4em;

    button#register {
        width: 100%;
        margin-top: 1em;
    }

    a {
        color: #FFFFFF;
    }
}
