<br/>
<br/>
<br/>
<br/>

<div class="content-left help">
    <p>
        Some sort of informational/help stuff here.
    </p>
</div>

<div class="content-left">
    <h1 class="full-width">MY IDENTITIES</h1>

    <div class="identity sybolt-identity inverted">
        <img class="avatar" src="<%- profile.avatar_url %>"/>

        <div class="edit-identity">
            <form id="sybolt-profile">
                <fieldset>
                    <div class="text">
                        <label for="sybolt-username">USERNAME</label>
                        <input type="text" id="sybolt-username" name="username" readonly="readonly" value="<%- profile.username %>"></input>
                    </div>

                    <div class="text">
                        <label for="email">EMAIL</label>
                        <input type="text" id="email" name="email" value="<%- profile.email %>" data-validate="email"></input>

                        <!-- Nested checkboxes, visible when email is !empty -->
                        <div class="checkbox <%- (profile.email.length < 1) ? 'hidden' : '' %>">
                            <input type="hidden" value="false" name="public_email" />
                            <input type="checkbox" id="public-email" value="true" name="public_email" <%- (profile.public_email) ? 'checked="checked"' : '' %>></input>
                            <label for="public-email">ALLOW OTHER USERS TO SEE MY EMAIL ADDRESS</label>
                        </div>
                        
                        <div class="checkbox <%- (profile.email.length < 1) ? 'hidden' : '' %>">
                            <input type="hidden" value="false" name="allow_newsletter" />
                            <input type="checkbox" id="allow-newsletter" value="true" name="allow_newsletter" <%- (profile.allow_newsletter) ? 'checked="checked"' : '' %>></input>
                            <label for="allow-newsletter">SEND ME EMAIL ABOUT UPCOMING SYBOLT BULLSHIT</label>
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <div class="text">
                        <label for="verification">NEW PASSWORD</label>
                        <input type="password" id="password" name="password"></input>
                    </div>

                    <div class="text">
                        <label for="password2">NEW PASSWORD (AGAIN)</label>
                        <input type="password" id="password2" name="password2"></input>
                    </div>
                </fieldset>

                <div class="controls">
                    <button id="save-sybolt-profile" class="bordered green">Save Changes</button>
                </div>

                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <button class="add-identity bordered large"><strong>+</strong> ADD IDENTITY</button>
    <button class="add-minecraft bordered"><strong>+</strong> MINECRAFT</button>
    <button class="add-steam bordered"><strong>+</strong> STEAM</button>
    <button class="add-mumble bordered"><strong>+</strong> MUMBLE</button>
    <button class="add-gravitar bordered"><strong>+</strong> GRAVITAR</button>

    <div class="clearfix"></div>

    <!-- Container for identity views -->
    <div class="identities"></div>

    <button class="delete-account bordered red large">Delete My Account</button>
</div>
