<br/>
<br/>
<br/>
<br/>

<div class="content-left">
    <h1 class="full-width">MY PROFILE</h1>
    <div class="help">
        <p>
        Here you can manage global preferences for your Sybolt Profile, as well as manage third-party identities linked to your profile. 
        </p>
    </div>

    <div class="identity sybolt-identity inverted">
        <img class="avatar" src="<%- profile.avatar_url %>"/>

        <div class="edit-identity">
            <form id="sybolt-profile">
                <fieldset>
                    <div class="text">
                        <label for="sybolt-username">USERNAME</label>
                        <input type="text" id="sybolt-username" name="username" readonly="readonly" value="<%- profile.username %>"></input>
                    </div>

                    <div class="text">
                        <label for="email">EMAIL</label>
                        <input type="text" id="email" name="email" value="<%- profile.email %>" data-validate="email"></input>

                        <!-- Nested checkboxes, visible when email is !empty -->
                        <div class="checkbox <%- (profile.email.length < 1) ? 'hidden' : '' %>">
                            <input type="hidden" value="false" name="public_email" />
                            <input type="checkbox" id="public-email" value="true" name="public_email" <%- (profile.public_email) ? 'checked="checked"' : '' %>></input>
                            <label for="public-email">ALLOW OTHER USERS TO SEE MY EMAIL ADDRESS</label>
                        </div>

                        <div class="checkbox <%- (profile.email.length < 1) ? 'hidden' : '' %>">
                            <input type="hidden" value="false" name="allow_newsletter" />
                            <input type="checkbox" id="allow-newsletter" value="true" name="allow_newsletter" <%- (profile.allow_newsletter) ? 'checked="checked"' : '' %>></input>
                            <label for="allow-newsletter">SEND ME EMAIL ABOUT UPCOMING SYBOLT BULLSHIT</label>
                        </div>
                    </div>

                </fieldset>

                <fieldset>
                    <div class="text">
                        <label for="verification">NEW PASSWORD</label>
                        <input type="password" id="password" name="password"></input>
                    </div>

                    <div class="text">
                        <label for="password2">NEW PASSWORD (AGAIN)</label>
                        <input type="password" id="password2" name="password2"></input>
                    </div>
                </fieldset>

                <div class="controls">
                    <button id="save-sybolt-profile" class="bordered green">Save Changes</button>
                </div>

                <div class="clearfix"></div>
            </form>
        </div>
    </div>

    <h1 class="full-width">MY IDENTITIES</h1>
    <div class="help">
        <p>
            These are third-party identities currently linked to Sybolt. Here you can add new identities, as well as manage existing identities linked to your account. By adding identities, you gain access to additional services available through the Sybolt website.
        </p>
        <p>
            For additional information about what type of service each identity can provide, see the <a href="#">Sybolt Identities FAQ</a>.
        </p>
    </div>

    <button class="add-minecraft bordered"><strong>+</strong> MINECRAFT</button>
    <button class="add-steam bordered"><strong>+</strong> STEAM</button>
    <button class="add-mumble bordered"><strong>+</strong> MUMBLE</button>
    <button class="add-gravitar bordered"><strong>+</strong> GRAVITAR</button>

    <div class="clearfix"></div>

    <!-- Container for identity views -->
    <div class="identities"></div>

    <button class="delete-account bordered red large">Delete My Account</button>
</div>
