
<img class="avatar" src="/img/minecraft/heads/head-64_noligorithm.png"/>

<div class="edit-identity">
    <form>
        <fieldset>
            <div class="text">
                <label for="username-0">USERNAME</label>
                <input type="text" id="username-0" name="username" value="Noligorithm"></input>
            </div>

            <div class="text">
                <label for="verification-0">VERIFICATION</label>
                <input type="text" id="verification-0" name="verification" value="W4TCH|M4K3R5"></input>
            </div>
        </fieldset>

        <div class="controls">
            <button class="delete-identity red">Delete Identity</button>
            <button class="update-identity bordered green">Save Changes</button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
