<img class="avatar" src="<%= avatar_url %>"/>

<div class="edit-identity">
    
    <form>
        <div class="help">
            <p>
                These are the login credentials you can use to access the Sybolt Mumble server (mumble.sybolt.com)
            </p>
        </div>

        <fieldset>
            <div class="text">
                <label for="mumble-nickname">NICKNAME</label>
                <input type="text" id="mumble-nickname" name="nickname" value="<%- nickname %>" data-validate="required,regex(^[a-zA-Z0-9_\.-]+$,Contains one or more unacceptable characters. Alphanumeric only.)" />
                <div class="validation-error hidden" data-for="mumble-nickname"></div>
            </div>
            <div class="text">
                <label for="mumble-password">PASSWORD</label>
                <input type="text" id="mumble-password" name="password" value="<%- password %>" data-validate="required" />
                <div class="validation-error hidden" data-for="mumble-password"></div>
                <span class="help"><a href="/faq/mumble-security">(Why should this be a different password?)</a></span>
            </div>
            <div class="text">
                <label for="mumble-channel">MY CHANNEL</label>
                <input type="text" id="mumble-channel" name="channel" value="<%- (channel) ? channel : 'You do not manage a channel' %>" readonly="readonly" />
            </div>
        </fieldset>

        <div class="controls">
            <button type="button" class="delete-identity red">Delete Identity</button>
            <button type="submit" class="save-changes bordered green">Save Changes</button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
