<img class="avatar" src="/img/default-profile-icon.png"/>

<div class="edit-identity">
    <form>
        <fieldset>
            <div class="text">
                <label for="nickname-0">NICKNAME</label>
                <input type="text" id="nickname-0" name="nickname" value="Chase"></input>
            </div>

            <div class="text">
                <label for="verification-0">VERIFICATION</label>
                <input type="text" id="verification-0" name="verification" value="W4TCH|M4K3R5"></input>
            </div>
        </fieldset>

        <div class="controls">
            <button class="delete-identity red">Delete Identity</button>
            <button class="update-identity bordered green">Save Changes</button>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
