<img class="avatar" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/5b/5b0923e8e1319037fc73e3a8514bf97db7faeb5a_full.jpg"/>

<div class="edit-identity">
    <form>
        <fieldset>
            <div class="text">
                <label for="name-0">DISPLAY NAME</label>
                <input type="text" id="name-0" name="name" readonly="readonly" value="Chase"></input>
            </div>
            <div class="text">
                <label for="account-0">ACCOUNT NAME</label>
                <input type="text" id="account-0" name="account" readonly="readonly" value="mcmanning"></input>
            </div>
        </fieldset>

        <div class="controls">
            <button class="delete-identity red">Delete Identity</button>
            <button class="update-identity bordered green">Save Changes</button>
            <img src="http://www.dota2ah.com/images/sits.png" />
        </div>
        <div class="clearfix"></div>
    </form>
</div>
