
<div class="infobox-bg"></div>
<div class="infobox">
    <h1>SYBOLT MUMBLE</h1>
    
    <div class="filter">
    <h2>FILTER BY</h2>
    <form>
        <label for="nickname">NICKNAME</label>
        <select id="nickname">
            <option></option>
            <option value="MarkMeltzer"><img src="/img/default-profile-icon.png" /> MarkMeltzer</option>
            <option value="Chase"><img src="/img/default-profile-icon.png" /> Chase</option>
            <option value="Gfro"><img src="/img/default-profile-icon.png" /> Gfro</option>
            <option value="PhantomTheft"><img src="/img/default-profile-icon.png" /> PhantomTheft</option>
            <option value="DeadFOAM"><img src="/img/default-profile-icon.png" /> DeadFOAM</option>
            <option value="Jigs"><img src="/img/default-profile-icon.png" /> Jigs</option>
            <option value="Cheese"><img src="/img/default-profile-icon.png" /> Cheese</option>
            <option value="Mr.Listen"><img src="/img/default-profile-icon.png" /> Mr.Listen</option>
            <option value="Jigs-Alternate"><img src="/img/default-profile-icon.png" /> Jigs-Alternate</option>
            <option value="Banhammer"><img src="/img/default-profile-icon.png" /> Banhammer</option>
        </select>
        <br/>

        <input id="images" type="checkbox" checked="checked" />
        <label for="images">SHOW IMAGES</label>

        <input id="videos" type="checkbox" checked="checked" />
        <label for="videos">SHOW VIDEOS</label>
    </form>
    </div>
</div>

<div class="isotope-container">

</div>

<a id="load-more-images" href="#">Load More</a>