
<div class="infobox">
    <h1>SYBOLT MUMBLE</h1>

    <div id="mumble-coming-soon">
        <p>
            This page is a work in progress. Expect it to change drastically.
        </p>
        <svg version="1.1" id="mumble-coming-soon-worker" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 20.166 23.303" 
            enable-background="new 0 0 20.166 23.303" 
            xml:space="preserve">
                <polygon points="6.924,15.199 1.953,16.301 0,23.303 8.557,23.303 9.453,15.81 7.943,14.176 " style="fill:#2E2C2A"/>
                <polygon points="18.213,16.301 13.237,15.199 12.216,14.177 10.711,15.811 11.606,23.304 20.167,23.304 " style="fill:#2E2C2A"/>
                <path fill="#685475" d="M10.083,7.884c3.365,0,6.092-0.338,6.092-0.756c0-0.09-0.15-0.178-0.394-0.258C15.597,3.785,15.616,0,10.085,0 C4.554,0,4.571,3.785,4.389,6.869C4.144,6.95,3.992,7.038,3.992,7.128C3.992,7.546,6.721,7.884,10.083,7.884z" />
                <path fill="#2E2C2A" d="M15.165,8.342c-1.111,0.181-2.846,0.298-4.818,0.298c-2.323,0-4.322-0.162-5.345-0.399c0.361,3.206,2.488,5.681,5.09,5.681 C12.663,13.92,14.765,11.498,15.165,8.342z" />
        </svg>
    </div>

    <h2>ONLINE NOW</h2>
    <div class="online-users">
        <img src="/img/default-profile-icon.png" /> 
        <img src="/img/default-profile-icon.png" /> 
        <img src="/img/default-profile-icon.png" /> 
        <img src="/img/default-profile-icon.png" /> 
        <img src="/img/default-profile-icon.png" /> 
        <img src="/img/default-profile-icon.png" /> 
        <img src="/img/default-profile-icon.png" /> 
    </div>

    <div class="filter">

        <blockquote>
            <img src="/img/default-profile-icon.png" />
            <p>
                This is some stupid quote said by PhantomTheft.
                It's a very long quote, which will span multiple lines, probably.
            </p>
            <span class="nickname">PhantomTheft</span>
        </blockquote>

        <form>
            <h2>FILTER BY</h2>
            <label for="nickname">NICKNAME</label>
            <select id="nickname">
                <option></option>
                <option value="MarkMeltzer"><img src="/img/default-profile-icon.png" /> MarkMeltzer</option>
                <option value="Chase"><img src="/img/default-profile-icon.png" /> Chase</option>
                <option value="Gfro"><img src="/img/default-profile-icon.png" /> Gfro</option>
                <option value="PhantomTheft"><img src="/img/default-profile-icon.png" /> PhantomTheft</option>
                <option value="DeadFOAM"><img src="/img/default-profile-icon.png" /> DeadFOAM</option>
                <option value="Jigs"><img src="/img/default-profile-icon.png" /> Jigs</option>
                <option value="Cheese"><img src="/img/default-profile-icon.png" /> Cheese</option>
                <option value="Mr.Listen"><img src="/img/default-profile-icon.png" /> Mr.Listen</option>
                <option value="Jigs-Alternate"><img src="/img/default-profile-icon.png" /> Jigs-Alternate</option>
                <option value="Banhammer"><img src="/img/default-profile-icon.png" /> Banhammer</option>
            </select>
            <br/>

            <input id="images" type="checkbox" checked="checked" />
            <label for="images">SHOW IMAGES</label>

            <input id="videos" type="checkbox" checked="checked" />
            <label for="videos">SHOW VIDEOS</label>
        </form>
        <div class="clearfix"></div>
    </div>

</div>

<div class="isotope-container">

</div>

<a id="load-more-images" href="#">Load More</a>