
/***********************************************
                 /live Player      
************************************************/
#player-container {
    width: 100%;
    max-height: 100%;
    background: #2e2c2a;
    margin-bottom: 1.5em;
}

#live-player {
    width: 100%;
    height: 100%;
}

#live-offline {
    display: table;
    width: 100%;
    height: 100%;

    h1 {
        margin: 0;
        text-align: center;
        color: white;
        display: table-cell;
        vertical-align: middle;
    }
}

#live-error {
    display: table;
    width: 100%;
    height: 100%;

    h1 {
        margin: 0;
        text-align: center;
        color: white;
        display: table-cell;
        vertical-align: middle;
        
        color: #ffa600;
        font-size: 1.5em;
    }
}

#content > div.live-publisher {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;

    .profile-icon {
        margin: 0px;
    }
}

#add-schedule-card {
    display: block;
    text-align: center;
}

/***********************************************
             /live Schedule Cards      
************************************************/

#viewers-view-container {
    padding: 1em 0;
}

#schedule-view-container {

    .nav {
        margin: 1em 0;
        text-align: center;

        #next-month {
            float: right;
        }

        #this-month {
            font-size: 1.5em;
        }

        #last-month {
            float: left;
        }
    }

    // Display for when there are no movies for a given month
    .no-schedule {
        height: 15em;
        text-align: center;
        
        h1 {
            margin-top: 5em;
            font-size: 2em;
        }
    }
}

div.schedule-card-container {
    display: inline;
}

div.schedule-card {
    max-width: 480px;
    width: 480px;
    display: inline-block;
    margin: 1em;

    .title { // Top title card
        height: 64px;
        width: 100%;
        margin-bottom: 5px;

        background: #ECE6DD;
        border: 1px solid #ACA69F;

        /*.BoxShadowHelper(2);
        .transition(all 250ms);

        &:hover {
            .BoxShadowHelper(3);
            .transform(translateY(-5px));
        }*/

        h2 { // Movie date
            margin: 0;
            margin-left: 8px;
            font-size: 1.5em;
            padding-top: 2px;
        }

        p { // Movie title
            margin: 0;
            margin-left: 8px;
        }

        img { // Avatar of picker
            width: 64px;
            height: 64px;
            background: #000000;
            float: right;
            border-left: 1px solid #D9D1C7;
        }
    }

    .editor {
        width: 100%;
        font-size: 16px;
        position: relative;
        background: #ECE6DD;
        border: 1px solid #ACA69F;

        form {
            padding: 1em;

            .controls {
                float: right;
            }
        }
    }

    .details { // Movie details card
        width: 100%;
        font-size: 16px;
        position: relative;

        background: #ECE6DD;
        border: 1px solid #ACA69F;

        // Fixed height for movie poster + content
        height: 231px;
        overflow: hidden;

        /*
        .BoxShadowHelper(2);
        .transition(all 250ms);

        &:hover {
            .BoxShadowHelper(3);
            .transform(translateY(-5px));
        }
        */

        .poster { // Movie poster (TMDB sourced)
            float: left;
            width: 154px;
            height: auto; //178px;
            background: #000000;
        }

        .content { // Details about the movie being played
            margin-left: 160px;
            padding-top: 5px;
            padding-right: 5px;

            .synopsis {
                padding-left: 1em;
                margin-bottom: 0.5em;
                // TODO: Max height it, and ellipsis the text
            }

            .picked-by {
                padding-left: 1em;
                margin-bottom: 2em;
            }

            .links {
                margin: 0;
                position: absolute;
                bottom: 5px;
                right: 10px;

                li {
                    display: inline-block;
                    padding-left: 1em;

                    .trailer {
                        // TODO: Prefix with a sprite
                    }

                    .imdb {
                        // TODO: Prefix with a sprite
                    }
                }

            }
        }
    }
}

#request-view-container .content-left,
#schedule-view-container .content-left {
    margin-bottom: 3em;
}

#tmdb-search {
    display: table;
    width: 80%;
    margin: 1em auto;

    input {
        width: 80%;
        display: table-cell;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    button {        
        padding: 0.25em !important;
        display: table-cell;
        width: 20%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: none;
    }
}

#search-error {
    font-size: 1.5em;
    text-align: center;
    color: #cd4848;
}

.isotope-container {
    width: 100%;
}

.search-result, .favorite-movie {
    display: inline-block;
    width: 154px;
    height: 231px;
    margin: 0.5em;

    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.75);
    cursor: pointer;

    // Enforce image dimensions as we have a guaranteed
    // width from TMDB, but not a guaranteed height.
    img {
        width: 154px;
        height: 231px;
    }

    // Raise results a bit on hover
    &:hover {
        -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.75);
        box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.75);
        margin-top: 0.5em - 0.3em;
        margin-bottom: 0.5em + 0.3em;
    }
}

.posters-container {
    margin: 1em 0;
}

.movie-details-container {
    margin: 1em 0;
    position: relative;

    a.movie-details-prev {
        font-size: 5em;
        text-decoration: none;
        position: absolute;
        left: 0;
        top: 0;
    }

    a.movie-details-next {
        font-size: 5em;    
        text-decoration: none;    
        position: absolute;
        right: 0;
        top: 0;
    }

}

.movie-details {
    border: 1px solid #ACA69F;
    position: relative;
    background-size: cover;  
    width: 90%;
    margin: 0 auto;

    img.poster {
        width: 154px;
        height: 231px;

        -webkit-box-shadow: 0px 3px 10px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 10px 0 rgba(0,0,0,0.75);
        box-shadow: 0px 3px 10px 0 rgba(0,0,0,0.75);
    }

    .show-posters {
        float: right;
        margin: 1em;
    }

    .left-controls {
        float: left;
        margin-left: 1.25em;
        margin-top: 1.25em;
        width: 154px;

        button {
            margin-top: 1em;
            width: 100%;
        }
    }

    .bottom-controls {
        position: absolute;
        bottom: 1em;
        right: 1em;

        button {
            margin-left: 1em;
        }
    }

    .details {
        width: 100%;
        min-height: 400px;
        background-color: rgba(236, 230, 221, 0.8);

        h1 {
            font-size: 1.5em;
            padding-top: 0.8em;
            margin-left: 200px;

            .year {
                margin-left: 0.5em;
                font-size: 0.8em;
            }
        }

        dl {
            margin-left: 200px;
            margin-right: 1em;
            padding-bottom: 3em;
        }

        dt {
            margin-top: 1em;
            font-weight: bold;
        }

        dd {
            margin-left: 1em;

            // Resize and shift to the left a little for the star icons
            &.vote-average {
                font-size: 1.5em;
                margin-left: 0.5em;
            }
        }
    }

}

#movie-details-container {
    margin: 2em 0;
}
