
// Clean up browser differences
@import "normalize";

// Mixins
@import "prefixer";
@import "mixins";

// TODO: Move these definitions elsewhere
$light-purple: #977FA6;
$purple: #685475;
$green: #14945E; // #17BA75; // #09AD7E;
$grey: #D0D0D0;
$primary: #D9D1C7;
$secondary: #2E2C2A;
$light-grey: #E6E6E6;
$alert-red: #9D2B2B;

// Third party CSS
@import "select2";

// LESS Files
@import "global";

@import "header";
@import "footer";

@import "ui/input";
@import "ui/checkbox";
@import "ui/button";

// Sybolt Live page styles
@import "live";

// Coming soon page
@import "soon";

@import "minecraft";
@import "timeline";
@import "servers";
@import "mumble";
@import "profile";
@import "register";

//@import "responsive.css";