.identity {
    background: #ECE6DD;
    border: 1px solid #ACA69F;
    margin: 1.5em 0;
}

.identity.sybolt-identity {
    background: #2E2C2A;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}

.identity .avatar {
    width: 64px;
    height: 64px;
    border: 3px solid #1B1B1B;
    border-radius: 3px;
    margin: 1em;
    float: left;
}

.edit-identity form {
    margin-left: 6em;
    margin-right: 1em;

    .controls {
        float: right;
        margin-bottom: 1em;

        button {
            margin-left: 0.5em;
        }
    }
}

.add-identity {
    margin-right: 1em;
}

.delete-account {
    width: 100%;
    margin: 1em 0;
}
