<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen,projection"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Sybolt {% block title %}{% endblock%}</title>
    {% block head_extras %}{% endblock %}
</head>
<body>
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                
                <div class="header-logo {% block logo_extras %}{% endblock %}">
                    <div class="logo-background-wrapper"><div class="logo-background"></div></div>
                    <a href="/"><div class="logo"></div></a>
                    <div class="logo-badge" style="display:none;"></div>
                </div>

                <!--ul class="left">
                    <li><a href="sass.html"><i class="material-icons left">view_module</i><span class="hide-on-med-and-down">Minecraft</span></a></li>
                    <li><a href="badges.html"><i class="material-icons left">view_module</i><span class="hide-on-med-and-down">Mumble</span></a></li>
                    <li><a href="badges.html"><i class="material-icons left">view_module</i><span class="hide-on-med-and-down">Live</span></a></li>
                </ul-->

                <!--ul class="right">
                    <li><a href="/login"><i class="material-icons right">person</i><span class="hide-on-med-and-down">Login</span></a></li>
                </ul-->
            </div>
        </nav>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row white-text">
            <div class="col m4 hide-on-small-only">
                <h4 class="center">About This Page</h4>
                <p>Morbi sollicitudin, lectus ut tempus luctus, urna neque varius tortor, sit amet pulvinar arcu massa feugiat.</p>
            </div>
            <div class="col m4 hide-on-small-only">
                <h4 class="center">About This Site</h4>
                <p>Morbi sollicitudin, lectus ut tempus luctus, urna neque varius tortor, sit amet pulvinar arcu massa feugiat.</p>
            </div>
            <div class="col s12 m4">
                <h4 class="center">Join Us Elsewhere</h4>
                <div class="social-links center">
                    <a href="http://steamcommunity.com/groups/sybolt" title="Watchmakers on Steam" data-bypass="true" target="_BLANK"><img src="/img/icon/steam_white.svg"></a>
                    <a href="http://www.hitbox.tv/team/teamgfro" title="Team Gfro on Hitbox" data-bypass="true" target="_BLANK"><img src="/img/icon/hitbox.svg"></a>
                    <a href="https://www.youtube.com/user/McManning" title="Adventures on YouTube" data-bypass="true" target="_BLANK"><img src="/img/icon/youtube.svg"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            &copy; 2015 Chase McManning | 
            <a data-target="legal-modal" class="grey-text text-lighten-4 modal-trigger">Legal</a>
        </div>
    </div>
</footer>

<div id="legal-modal" class="modal">
    <div class="modal-content tan lighten-2">
        <h4>Legal<i class="material-icons right modal-close">close</i></h4>
        <p>This is legal mumbo jumbo, written as Lipsum</p>
        <p>
        Aenean vitae neque a tellus luctus venenatis sit amet nec velit. Vestibulum sodales auctor pharetra. Aenean ut feugiat justo, sit amet tincidunt enim. Proin mattis commodo odio et condimentum. Nulla fermentum ex eu diam mattis imperdiet. Maecenas mattis eros ac libero tincidunt, molestie vestibulum augue tempus. Ut suscipit eros sapien. Mauris rhoncus ligula ut rhoncus laoreet. Donec egestas malesuada nunc, vitae dapibus lectus vestibulum laoreet. Mauris vitae luctus nunc, ac tristique magna. Praesent lacinia vehicula eros, ut egestas purus semper et. Suspendisse malesuada sollicitudin metus, eget mollis massa viverra at. Etiam rutrum, lacus non aliquet sollicitudin, augue sapien rhoncus nisl, sed ultrices neque urna nec enim. Mauris egestas est non euismod semper. Etiam dignissim orci est, rutrum tincidunt justo auctor eget.
        </p>
    </div>
</div>

{% block script_extras %}{% endblock %}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4{% if config.USE_MINIFIED_JS %}.min{% endif %}.js"></script>
<script type="text/javascript" src="/js/vendor/materialize{% if config.USE_MINIFIED_JS %}.min{% endif %}.js"></script>

<script type="text/javascript" src="/js/{% block js_app %}{% endblock %}{% if config.USE_MINIFIED_JS %}.min{% endif %}.js"></script>
</body>
</html>
