{% extends "layout.html" %}

{% block js_app %}live{% endblock %}
{% block title %}Live{% endblock %}

{% block logo_extras %}left{% endblock %}

{% block head_extras %}

{% endblock %}

{% block script_extras %}
<script type="text/javascript" src="https://releases.flowplayer.org/js/flowplayer-3.2.13.js"></script>
{% endblock %}

{% block content %}

    <!-- Hero containing our actual video playback -->
    <!--div id="hero-container" class="full-page">
        <div id="hero-inner" class="valign-wrapper tan darken-4">
            <h2 class="valign center white-text" style="width:100%">OFFLINE</h2>
        </div>
    </div-->

    <!-- Scream. -->
    <div class="spooky-vision spooky">
        <img src="/img/spooky/jenner.png" class="head">
        <img src="/img/spooky/spooky.png" class="text">
        <img src="/img/spooky/jenner.png" class="head">
    </div>
    <div class="spooky-vision vision">
        <img src="/img/spooky/jenner.png" class="head">
        <img src="/img/spooky/vision.png" class="text">
        <img src="/img/spooky/jenner.png" class="head">
    </div>

    <div id="player-container">
        <div id="live-offline"><h1>OFFLINE</h1></div>
        <div id="live-error" style="display:none;"><h1>Unknown Error</h1></div>
        <div id="live-player-container" style="display:none;">
            <div id="live-player"><!-- Contents will be overwritten by Flowplayer --></div>
        </div>
    </div>
    <a id="stop2spooky" href="#">Stop! it's 2spooky!</a>
  
    <!-- Play schedule -->
    <div class="container">
        <h1>
            SCHEDULE 
            <!--a href="#" class="right"><i class="material-icons medium">search</i></a-->
        </h1>
        <div class="row">
            <div class="col l4">
                <button id="last-month" class="btn darktan"></button>
            </div>
            <div class="col l4 center">
                <button id="this-month" class="btn-flat"></button>
            </div>
            <div class="col l4 right-align">
                <button id="next-month" class="btn darktan"></button>
            </div>
        </div>

        <div class="schedule-page"></div>

    </div> <!-- .container schedule -->

    <!-- Search for a movie -->
    <!--div class="container">
        <h1>SEARCH FOR A MOVIE</h1>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label for="search"><i class="material-icons">search</i></label>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h4>Search Results <small>(75 matches)</small></h4>
                Masonry/packery content here!
                <button data-target="test-modal" class="btn orange modal-trigger">Test Modal</button>
            </div>
        </div>
    </div-->

    <!-- Modal Structure -->
    <!--div id="test-modal" class="modal modal-fixed-footer">
        <div class="modal-content tan lighten-2" xstyle="background-image: url('http://image.tmdb.org/t/p/w780//rjUl3pd1LHVOVfG4IGcyA1cId5l.jpg');">
            <h4 class="truncate">Dawn of the Planet of the Apes<i class="material-icons right modal-close">close</i></h4>
            <div class="row">
                <div class="col s3">
                    <img class="z-depth-1" src="http://image.tmdb.org/t/p/w154//2EUAUIu5lHFlkj5FRryohlH6CRO.jpg">
                    <button class="btn green">favorite</button>
                </div>
                <div class="col s9">
                    <h5><strong>Synopsis</strong></h5>
                    <p>A group of scientists in San Francisco struggle to stay alive in the aftermath of a plague that is wiping out humanity, while Caesar tries to maintain dominance over his community of intelligent apes.</p>
                    <h5><strong>Voter Average</strong></h5>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>
                </div>
            </div>
        </div>
        <div class="modal-footer tan lighten-2">
            <button class="btn green left">favorite</button>
            <button class="btn brown">tmdb</button>
            <button class="btn green">trailer</button>
        </div>
    </div-->

{% endblock %}
