<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" media="screen,projection"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<header class="faded">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                
                <div class="header-logo">
                    <div class="logo-background-wrapper"><div class="logo-background"></div></div>
                    <div class="logo"></div>
                </div>

                <ul class="right">
                    <li><a href="login.html"><i class="material-icons right">person</i><span class="hide-on-med-and-down">Login</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main>
    <div id="hero-container" style="height:0"></div>

    <!-- TODO: No gib moni -->
    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <h3 class="center">Login to Sybolt</h3>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="username" type="text">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">lock</i>
                            <input id="password" type="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1 right-align">
                            <button class="btn-flat">register</button>
                            <button class="btn green">login</button>
                        </div>
                    </div>
                </div> <!-- .card-panel -->
                <small>By creating an account and logging in, I agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</small>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <h3 class="center">Register on Sybolt</h3>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="usernamex" type="text" class="validate">
                            <label for="usernamex" data-success="Username available">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">lock</i>
                            <input id="passwordx" type="password">
                            <label for="passwordx">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">lock</i>
                            <input id="password2" type="password">
                            <label for="password2">Password Again</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate">
                            <label for="email" data-error="Not a valid email, idiot">Email (optional)</label>
                        </div>
                    </div>

                    <!-- Loader for retrieving associated accounts -->
                    <div class="row">
                        <div class="col s12 center">
                            <h4>Doing some dumb analytics crap, hold on</h4>
                            <div class="progress purple">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                    </div>

                    <!-- List of other accounts (hosted locally) that may be theirs -->
                    <div class="row">
                        <div class="col s10 offset-s1">
                            
                            <h4>Found 4 other accounts that may be yours</h4>
                            <p>Click each entry to associate with your new Sybolt Profile</p>
                            <ul class="collection link-accounts">
                                <li class="collection-item avatar">
                                    <img src="/img/icon/minecraft_black.svg">
                                    <span class="title">Minecraft Account</span>
                                    <p>Nolikov</p>
                                    <input type="checkbox" id="link-minecraft-1" />
                                    <label for="link-minecraft-1" class="secondary-content large"></label>
                                </li>
                                <li class="collection-item avatar">
                                    <img src="/img/icon/mumble_black.svg">
                                    <span class="title">Mumble Account</span>
                                    <p>Chase</p>
                                    <input type="checkbox" id="link-mumble-1" />
                                    <label for="link-mumble-1" class="secondary-content large"></label>
                                </li>
                                <li class="collection-item avatar">
                                    <img src="/img/icon/mumble_black.svg">
                                    <span class="title">Mumble Account</span>
                                    <p>Chasetop</p>
                                    <input type="checkbox" id="link-mumble-2" />
                                    <label for="link-mumble-2" class="secondary-content large"></label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input type="checkbox" id="tos" />
                            <label for="tos">
                                I have pretended to read the 
                                <a data-target="tos-modal" class="modal-trigger">Terms of Use</a>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1 center">
                            <button class="btn green">create account</button>
                        </div>
                    </div>

                </div> <!-- .card-panel -->
            </div>
        </div>
    </div>
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row white-text">
            <div class="col s12 m4">
                <h4 class="center">About This Page</h4>
                <p>Morbi sollicitudin, lectus ut tempus luctus, urna neque varius tortor, sit amet pulvinar arcu massa feugiat.</p>
            </div>
            <div class="col s12 m4">
                <h4 class="center">About This Site</h4>
                <p>Morbi sollicitudin, lectus ut tempus luctus, urna neque varius tortor, sit amet pulvinar arcu massa feugiat.</p>
            </div>
            <div class="col s12 m4">
                <h4 class="center">Join Us Elsewhere</h4>
                <div class="social-links center">
                    <a class="" href="#!"><i class="material-icons">settings</i></a>
                    <a class="" href="#!"><i class="material-icons">settings</i></a>
                    <a class="" href="#!"><i class="material-icons">settings</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            &copy; 2015 Chase McManning
            <div class="right">
                <a class="grey-text text-lighten-4" href="#!">Privacy Policy</a> | 
                <a class="grey-text text-lighten-4" href="#!">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>

 <!-- Modal Structure -->
<div id="tos-modal" class="modal modal-fixed-footer">
    <div class="modal-content tan lighten-2">
        <h4>Terms of Service<i class="material-icons right modal-close">close</i></h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo magna vestibulum neque porta pharetra. Cras bibendum mauris at risus volutpat semper. Aenean eros leo, finibus in purus posuere, blandit efficitur nibh. Morbi purus risus, posuere eu convallis vel, consectetur ut justo. Duis elementum eleifend elit sed molestie. Vivamus vitae risus dui. Sed ex est, venenatis sit amet tellus eu, vehicula porttitor lectus.
        </p>
        <p>
        In tempus lectus ex, sit amet egestas massa iaculis id. Nulla eget purus diam. Vestibulum volutpat tempus urna, sit amet congue nisl vestibulum sit amet. Maecenas lacinia posuere massa ac blandit. Donec egestas arcu lectus, et consequat est consequat eget. Vivamus accumsan orci vel molestie tristique. Nulla consectetur arcu rhoncus lacus finibus ultrices. Nullam iaculis at sapien eget porta. Nam fringilla tortor quis convallis tempus. Etiam sed maximus metus. Vestibulum eleifend congue nibh, eget vestibulum ligula rhoncus sed. Fusce a risus erat. Sed efficitur nec nunc at condimentum. Aenean rutrum sem in purus gravida bibendum.
        </p>
        <p>
        Quisque vitae eros ornare erat sodales porta sed et lacus. Proin eu malesuada lorem, nec pharetra ligula. Maecenas venenatis, mi ac condimentum aliquam, eros ipsum rutrum massa, semper elementum augue lacus non sem. Duis scelerisque justo et sem facilisis feugiat. Nam commodo nunc et eros mattis, eu congue sem condimentum. Suspendisse mattis ultricies enim at euismod. Duis nec efficitur libero, id eleifend orci.
        </p>
        <p>
        Aenean rutrum non odio eget faucibus. Aenean quis lobortis massa. Nulla ornare massa purus, ultrices vulputate orci lobortis et. Aliquam id iaculis ipsum, vel eleifend mi. Quisque leo diam, pulvinar ut aliquet vel, aliquet in sapien. Etiam iaculis ut eros id lobortis. Aliquam facilisis feugiat enim, vehicula sodales nunc. Sed dapibus vitae metus non sagittis. Donec fringilla erat elit, vel congue nunc mollis at. Curabitur tempus elit magna, vitae volutpat felis fringilla vel. Donec interdum ligula eu interdum rhoncus. Aliquam pulvinar facilisis tempus. Sed elementum sollicitudin ultricies. Maecenas pretium dui nulla, non sollicitudin augue tristique ac.
        </p>
        <p>
        Nulla ultricies ipsum molestie lacus condimentum convallis. Cras rutrum laoreet eros, eu consectetur mi euismod at. Vivamus sed lectus id tortor congue cursus vitae non neque. In feugiat quis turpis a lacinia. Nunc felis diam, lobortis nec est id, feugiat tincidunt orci. Curabitur vel purus sed magna rhoncus pulvinar id quis velit. Nulla sodales viverra interdum. Suspendisse cursus feugiat nisl at tempor. Praesent in maximus dolor, id euismod dui. Sed consequat eleifend urna a posuere. Aenean gravida ac neque ac scelerisque. Pellentesque elementum ante eu sem auctor suscipit.
        </p>
    </div>
    <div class="modal-footer tan lighten-2">
        <a href="#!" class="modal-action modal-close btn green">awesome, got it!</a>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
