{% extends "layout.html" %}

{% block js_app %}safespace{% endblock %}

{% block logo_extras %}{% endblock %}

{% block head_extras %}

{% endblock %}

{% block content %}

    <div class="container">
        <br/><br/>
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <form id="registration-form" class="card-panel">
                    <div class="row">
                        <h3 class="center">Account Details</h3>

                        <div class="col s3 center">
                            <img src="/img/icon/live_black.svg">
                        </div>
                        <div class="col s9">
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="nickname" name="nickname" type="text" class="validate" maxlength="30">
                                <label for="nickname">Nickname</label>
                                <p class="help">Nickname can be changed at any time after registration</p>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                <input id="email" name="email" type="email" class="validate" maxlength="200">
                                <label for="email" data-error="Not a valid email, idiot">Email</label>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>
                                <input id="password" name="password" type="password">
                                <label for="password">Password</label>
                                <p class="help">Must be more than 6 characters. Cannot contain 'potato'</p>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>
                                <input id="password-confirm" name="passwordConfirm" type="password">
                                <label for="password-confirm">Password Again</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <h3 class="center">Minecraft</h3>

                        <div class="col s3 center">
                            <img id="minecraft-search-avatar" src="https://crafatar.com/renders/body/MHF_Steve?overlay&scale=4">
                        </div>
                        <div class="col s9">
                            <div class="input-field">
                                <i class="material-icons prefix">search</i>
                                <input id="minecraft-search" name="minecraftSearch" type="text">
                                <label for="minecraft-search" data-error="Username does not exist">Search for your username</label>

                                <button class="btn">search</button>
                                <p class="help">Linking your Minecraft account details will automatically allow us to whitelist you on new Minecraft server instances, as well as perform statistics tracking across servers</p>
                            </div>

                            <div id="minecraft-search-results" style="display:none">
                                <div class="input-field">
                                    <i class="material-icons prefix green-text">done</i>
                                    <input id="minecraft-username" name="minecraftUsername" type="text" placeholder="username" readonly>
                                    <label for="minecraft-username">Mojang Username</label>
                                </div>

                                <div class="input-field">
                                    <i class="material-icons prefix green-text">done</i>
                                    <input id="minecraft-uuid" name="minecraftUUID" type="text" placeholder="uuid" readonly>
                                    <label for="minecraft-uuid">Mojang UUID</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <h3 class="center">Mumble</h3>

                        <div class="col s3 center">
                            <img src="/img/icon/mumble_black.svg">
                        </div>
                        <div class="col s9">
                            <div class="input-field">
                                <i class="material-icons prefix">search</i>
                                <input id="murmur-search" name="murmurSearch" class="" type="text">
                                <label for="murmur-search" data-error="Username is not registered">Search for your username</label>
                                <button class="btn">search</button>
                                <!--button class="btn">search</button-->
                                <p class="help">Enter your Mumble username exactly as it appears in Mumble. Only registered usernames can be entered (Trevor!)</p>
                            </div>

                            <div id="murmur-search-results" style="display:none">
                                <div class="input-field">
                                    <i class="material-icons prefix green-text">done</i>
                                    <input id="murmur-username" name="murmurUsername" type="text" placeholder="username" readonly>
                                    <label for="murmur-username">Mumble Username</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row center">

                        <!--div class="input-field">
                            <input type="checkbox" id="tos" />
                            <label for="tos">
                                I have pretended to read the 
                                <a data-target="tos-modal" class="modal-trigger">Terms of Use</a>
                            </label>
                        </div>
                        <br/-->
                        <button class="btn green" type="submit">create account</button>
                    </div>
                </form> <!-- .card-panel -->
            </div>
        </div>
    </div>

{% endblock %}
