
{% import 'live/cards.html.j2' as cards with context %}

<div class="schedule-page">
    {% if not movies %}
    <div class="row no-movies">
        <h3>No movies have been scheduled</h3>
    </div>
    {% else %}
    <div class="row">
    {% for movie in movies %}
        <div class="col s12 l6">
            {% if movie.tmdb_id %}
                {{ cards.tmdb_movie_card(movie) }}
            {% else %}
                {{ cards.placeholder_movie_card(movie) }}
            {% endif %}
        </div>
        {% if loop.index0 % 2 %}
        </div>
        <div class="row">
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}
</div>
