<div class="full-page">
    <div class="header-billboard">
        <img class="calico" src="/img/minecraft/calico-hero.jpg">
    </div>
    
    <div class="content-container-top">

        <!--div class="scroll-down"></div-->
        
        <div class="content-left residents">
            <h1>RESIDENTS</h1>
            
            <div class="residents-container">
                <div class="head-icon"><img src="/img/minecraft/heads/head-64_arii.png"></div>
                <div class="head-icon"><img src="/img/minecraft/heads/head-64_gfro.png"></div>
                <div class="head-icon"><img src="/img/minecraft/heads/head-64_ichibod.png"></div>
                <div class="head-icon"><img src="/img/minecraft/heads/head-64_jamacavoy.png"></div>
                <div class="head-icon"><img src="/img/minecraft/heads/head-64_noligorithm.png"></div>
                
                <div class="extra-people">
                    <div class="head-icon"><img src="/img/minecraft/heads/head-64_mrlisten.png"></div>
                    <div class="head-icon"><img src="/img/minecraft/heads/head-64_phantom_theft.png"></div>
                    <div class="head-icon"><img src="/img/minecraft/heads/head-64_deadfoam.png"></div>
                </div>
            </div>
            <small><a href="#">See More</a></small>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="residents-background-bottom"></div>

<div class="content-container">
    <div class="content-right information">
        <h1>INFORMATION</h1>
        
        <div class="server-status-icon">
            <img src="/img/minecraft/entities/clock_noon.png">
            <p><a href="#">Server Is Online</a></p>
        </div>
        
        <div class="server-info">
            <ul>
                <li><strong>Server Status:</strong> <span class="pull-right">Offline</span></li>
                <li><strong>Server IP:</strong> <span class="pull-right">127.0.0.1</span></li>
                <li><strong>Client Version:</strong> <span class="pull-right">1.7.2</span></li>
                <li><strong>Online Players:</strong> <span class="pull-right">0/10</span></li>
            </ul>
        </div>
        
        <div class="clearfix"></div>
    </div>
    
    
    <div class="content-left history">
        <h1>HISTORY</h1>
        
        <div class="event-log">
            <ul>
                <li><img src="/img/minecraft/entities/diamondsword32x32.png"/><p>Gfro got his ass smashed in</p></li>
                <li><img src="/img/minecraft/entities/steve32x32.png"/><p>PhantomTheft has joined the world</p></li>
                <li><img src="/img/minecraft/entities/creeper32x32.png"/><p>Creeper wrecked Chase's shit</p></li>
                <li><img src="/img/minecraft/entities/creeper32x32.png"/><p>Creeper wrecked Moontrick's shit</p></li>
            </ul>
            <small><a href="#">Read More</a></small>
        </div>
        
        <div class="history-icon">
            <img src="/img/minecraft/entities/book_and_quill.png">
            <p><a href="#">Read The Lore</a></p>
        </div>
        
        <div class="clearfix"></div>
    </div>
    
    
    <div class="content-right dumb">
        <h1>DUMB THINGS</h1>
        <div class="clearfix"></div>
        
        <div class="events-container">
            <div class="dumb-event">
                <div class="dumb-event-icon"><img src="/img/minecraft/entities/creeper.png"></div>
                
                <h2>Some Big Dumb Event</h2>
                <span class="event-info">10/100</span>
            </div>
            
            <div class="dumb-event">
                <div class="dumb-event-icon"><img src="/img/minecraft/entities/chicken.png"></div>
                
                <h2>Some Big Dumb Event</h2>
                <span class="event-info">10/100</span>
            </div>
            
            <div class="dumb-event">
                <div class="dumb-event-icon"><img src="/img/minecraft/entities/skeleton.png"></div>
                
                <h2>Some Big Dumb Event</h2>
                <span class="event-info">10/100</span>
            </div>
            
            <div class="dumb-event">
                <div class="dumb-event-icon"><img src="/img/minecraft/entities/heart-full.png"></div>
                
                <h2>Some Big Dumb Event</h2>
                <span class="event-info">10/100</span>
            </div>
        </div>
        
        <div class="clearfix"></div>
    </div>
</div>

<a class="scroll-up" href="#" title="Top"></a>
