
<div id="timeline" class="timeline-container hidden">

    <div class="parallax hoth">
        
        <div class="parallax-header">HOTH</div>
        <div class="clearfix"></div>
        
        <div class="timeline-block timeline-start">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/ice32x32.png">
            </div>

            <div class="timeline-content">
                <h2>A World of Ice</h2>
                <p>The world, in it's creation, began frozen. Mankind makes their home in glass domes beneath the earth, designed to magnify solar rays for warmth and agricultural use.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-faith">
                <img src="/img/minecraft/entities/block_of_gold32x32.png">
            </div>

            <div class="timeline-content">
                <h2>Golden Faith</h2>
                <p>The first religion was established. Within the center of the capital, a towering golden beacon was built as an offering to the gods.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/book32x32.png">
            </div>

            <div class="timeline-content">
                <h2>The Great Divide</h2>
                <p>An unknown force cracks the capital dome in half, exposing it to the harsh outside world. Blame is put on the golden faith. After many losses, the capital populace begin to rebuild.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
    </div>

    <div class="parallax swagcraft">
        
        <div class="parallax-header">SWAGCRAFT</div>
        <div class="clearfix"></div>
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/book32x32.png">
            </div>

            <div class="timeline-content">
                <h2>The Crucible</h2>
                <p>An unknown craft from another dimension appears above the new capital. Upon it's arrival unknown isolated human towns appear, given the name "Prefab Towns". Their purpose is unknown.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block">
            <div class="timeline-img timeline-sun">
                <img src="/img/minecraft/entities/sun32x32.png">
            </div>

            <div class="timeline-content">
                <h2>The Warming</h2>
                <p>Coinciding with the arrival of the Crucible, the sheets of ice engulfing the world begin to melt and it's inhabitants begin moving to the surface.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-faith">
                <img src="/img/minecraft/entities/written_book32x32.png">
            </div>

            <div class="timeline-content">
                <h2>Rune Magic</h2>
                <p>Religious practice moved away from construction of gold monuments and into a complicated system of rune magic. Experts in the craft helped shape the world at a much higher rate than previously thought possible.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
    </div>

    <div class="parallax franken">
        
        <div class="parallax-header">FRANKEN PC</div>
        <div class="clearfix"></div>
        
        <div class="timeline-block">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/german_french32x32.png">
            </div>

            <div class="timeline-content">
                <h2>Opposing Towns</h2>
                <p>German Town and French Town are established as the capital populace splits into two factions. The towns maintain an wary relationship.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-faith">
                <img src="/img/minecraft/entities/blaze_powder32x32.png">
            </div>

            <div class="timeline-content">
                <h2>The Nether</h2>
                <p>Natural ley lines run dry, inevitably causing rune practice to fade away. Once only whispers, Nether worship takes hold of the capital.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block">
            <div class="timeline-img timeline-war">
                <img src="/img/minecraft/entities/crossing_swords34x34.png">
            </div>

            <div class="timeline-content">
                <h2>War</h2>
                <p>Peace between German Town and French Town comes to an end. German Town is found stockpiling explosives, as French Town increases it's control of resources for a cultural victory.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/tnt32x32.png">
            </div>

            <div class="timeline-content">
                <h2>Obliteration and Redemption</h2>
                <p>Negotiations fail. German Town detonates their stockpile of explosives and obliterates both towns. Survivors are led to Millenium Bay by the unsung hero, Rape.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
    </div>
    
    <div class="parallax calico">
        
        <div class="parallax-header">CALICO</div>
        <div class="clearfix"></div>
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/book32x32.png">
            </div>

            <div class="timeline-content">
                <h2>The Walled City</h2>
                <p>Titans begin to walk the earth again. Millenium Bay is lost and humanity escapes retreats into the great walled city of Calico.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/book32x32.png">
            </div>

            <div class="timeline-content">
                <h2>Cultural Boom</h2>
                <p>With an population growing alarmingly fast, the people divide into new cultures and guilds. Guilds including Men of the Wall, Bounty Hunters, and the Bratva obtain political power.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-faith">
                <img src="/img/minecraft/entities/ocelot32x32.png">
            </div>

            <div class="timeline-content">
                <h2>First Government</h2>
                <p>The First Government is re-established under Mayor Arii to control the growing political turmoil. Mayor Arii suppresses Nether worship and enforces the common faith of Cats.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block">
            <div class="timeline-img timeline-war">
                <img src="/img/minecraft/entities/crossing_swords34x34.png">
            </div>

            <div class="timeline-content">
                <h2>Veryyes</h2>
                <p>A being from another realm enters the walled city and causes the spread of insanity. The city's most powerful Cat worshippers call upon ancient powers to seal the Veryyes away forever.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/skeleton32x32.png">
            </div>

            <div class="timeline-content">
                <h2>Scandal</h2>
                <p>Mayor Arii is found as the killer to the first known begins of the Horse Tribe; Adam, Eve, and Lilith. The scandal is quickly forgotten by most, as the capital's population decreases dramatically overnight. </p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
    </div>

    <div class="parallax broville">
        
        <div class="parallax-header">BROVILLE</div>
        <div class="clearfix"></div>
        
        <div class="timeline-block">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/book32x32.png">
            </div>

            <div class="timeline-content">
                <h2>The Cleansing</h2>
                <p>The long campaign to wipe out the Titans is complete. The capital populace establishes Broville and The Citadel outside the walled city.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/redstone32x32.png">
            </div>

            <div class="timeline-content">
                <h2>Science Boom</h2>
                <p>Medical and Redstone technology peaks. Subway systems and automation expand throughout the cities.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block">
            <div class="timeline-img timeline-faith">
                <img src="/img/minecraft/entities/chicken32x32.png">
            </div>

            <div class="timeline-content">
                <h2>Loss of The Citadel</h2>
                <p>Mayor Arii ignores pleas for help from The Citadel and eventually communication is lost. The last words from the city reported sights of exploding chickens.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block right">
            <div class="timeline-img timeline-war">
                <img src="/img/minecraft/entities/crossing_swords34x34.png">
            </div>

            <div class="timeline-content">
                <h2>The Undead Climb</h2>
                <p>Flu spreads throughout the remaining city. What was thought to be a cure ends up animating the dead with powers much greater than the living. Broville is destroyed by it's own citizens.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-block">
            <div class="timeline-img timeline-yellow">
                <img src="/img/minecraft/entities/book32x32.png">
            </div>

            <div class="timeline-content">
                <h2>The Fall</h2>
                <p>Broville is burning. Brocorp tower falls. Nuclear reactors explode. The capital's population drops to the single digits. The capital populace once again become wanderers looking for a new home.</p>
                
                <span class="timeline-date">Feb 18</span>
            </div>
        </div>
        
        
        <div class="timeline-end">
            <a href="#" class="timeline-scroll-up">
                <div class="timeline-img timeline-yellow">
                    <img src="/img/minecraft/scroll-up-small.png" />
                </div>
            </a>
        </div>
    
    </div>

</div>
