<br/>
<br/>
<br/>
<br/>

<div class="content-left">
    <h1 class="full-width">REGISTER WITH SYBOLT</h1>
    <div class="help">
        <p>
        Help text here.
        </p>
    </div>

    <form id="registration-form" class="inverted">
        <fieldset>
            <div class="text required">
                <label for="username">USERNAME</label>
                <input id="username" name="username" type="text" value="" data-validate="required,min(4)" />
                <div class="validation-error hidden" data-for="username"></div>
            </div>

            <div class="text">
                <label for="email">EMAIL</label>
                <input type="text" id="email" name="email" value="" data-validate="email" />
                <div class="validation-error hidden" data-for="email"></div>
            </div>
        </fieldset>

        <fieldset>
            <div class="text required">
                <label for="verification">PASSWORD</label>
                <input type="password" id="password" name="password" data-validate="required,min(8)" />
                <div class="validation-error hidden" data-for="password"></div>
            </div>

            <div class="text required">
                <label for="password2">PASSWORD (AGAIN)</label>
                <input id="password2" name="password2" type="password" value="" data-validate="required,min(8),newPasswordConfirm" />
                <div class="validation-error hidden" data-for="password2"></div>
            </div>

            <div class="text required">
                <label for="invite">INVITATION CODE</label>
                <input id="invite" name="invite" type="password" value="" data-validate="required" />
                <div class="validation-error hidden" data-for="invite"></div>


                <div class="checkbox">
                    <input id="agreement" name="agreement" type="checkbox" data-validate="agreement" />
                    <label for="agreement">
                        I AGREE TO YOUR <a data-bypass="true" href="/legal/terms" target="_BLANK">TERMS OF SURRENDER</a><span class="required-star">*</span>
                        <div class="validation-error hidden" data-for="agreement"></div>
                    </label>
                </div>

            </div>

        </fieldset>

        <button id="register" class="bordered green large">Register</button>
    </form>
</div>
