
<div class="movie-details" 
    data-search-result="<%- isSearchResult %>" 
    data-results-index="<%- index %>" 
    data-tmdb-id="<%- id %>"
    style="background-image: url('<%- backdrop %>')">
    
    <div class="left-controls">
        <img class="poster" src="<%- poster %>">

        <% if (isFavorited) { %>
            <button class="bordered red">Remove</button>
        <% } else { %> 
            <button class="bordered">Add to my list</button>
        <% } %>
    </div>

    <a href="#" class="show-posters">Back to list</a>

    <div class="details">
        <h1>
            <%- title %> 
            <span class="year">(<%- releaseDate %>)</span>
        </h1>
        
        <dl>
            <dt>Synopsis</dt>
            <dd class="overview"><%- overview %></dd>

            <dt>Voter Average</dt>
            <dd class="vote-average">
                <% for (var i = 0; i < 5; i++) { %>
                    <% if (Math.ceil(voteAverage * 0.5) <= i) { %>
                        &#9734;
                    <% } else { %>
                        &#9733;
                    <% } %>
                <% } %>
            </dd>
        </dl>

    </div>

    <div class="bottom-controls">
        <button class="view-trailer bordered">Watch Trailer</button>
        <button class="request-movie bordered green">Request this movie</button>
    </div>
</div>

<% if (index > 0) { %>
<a href="#" class="movie-details-prev">&lt;</a>
<% } %>

<% if (index < total - 1) { %>
<a href="#" class="movie-details-next">&gt;</a>
<% } %>


