
<!--div class="live-publisher hidden">
    <div class="profile-icon small">
        <img src="/img/default-profile-icon.png" />
    </div>
</div-->

<div id="player-container">
    <div id="live-offline"><h1>OFFLINE</h1></div>
    <div id="live-error" class="hidden"><h1>Unknown Error</h1></div>
    <div id="live-player-container" class="hidden">
        <div id="live-player"><!-- Contents will be overwritten by Flowplayer --></div>
    </div>
</div>

<div class="viewers"></div>
<div id="schedule-view-container"></div>
<div id="request-view-container"></div>