<div class="footer-content">
    <div class="about-page">
        <h1>About This Page</h1>
        <p>
            Morbi sollicitudin, lectus ut tempus luctus, urna neque varius tortor, 
            sit amet pulvinar arcu massa feugiat orci.
        </p>
    </div>

    <div class="about-site">
        <h1>About This Site</h1>
        <p>
            Morbi sollicitudin, lectus ut tempus luctus, urna neque varius tortor, 
            sit amet pulvinar arcu massa feugiat orci. Morbi ut nibh augue. Ut euismod 
            dolor nisl, ut bibendum turpis volutpat ac.
        </p>
    </div>

    <div class="share">
        <h1>Share This Shit</h1>
        <div class="share-icon"></div>
        <div class="share-icon"></div>
        <div class="share-icon"></div>
    </div>
</div>
