<div class="footer-content">
    <div class="about-page">
        <h1>About This Page</h1>
        <p>
            Morbi sollicitudin, lectus ut tempus luctus, urna neque varius tortor, 
            sit amet pulvinar arcu massa feugiat.
        </p>
    </div>

    <div class="about-site">
        <h1>About This Site</h1>
        <p>
            Morbi sollicitudin, lectus ut tempus luctus, urna neque varius tortor, 
            sit amet pulvinar fuck you gfro. Morbi ut nibh augue.
        </p>
        <a class="privacy-policy" href="/privacy">Privacy Policy</a>
    </div>

    <div class="share">
        <!--h1>Share This Shit</h1-->
        <h1>Join Us Elsewhere</h1>
        <a href="http://steamcommunity.com/groups/sybolt" title="Watchmakers on Steam" data-bypass="true" target="_BLANK"><img src="/img/icon/steam.svg" /></a>
        <a href="http://www.hitbox.tv/team/teamgfro" title="Team Gfro on Hitbox" data-bypass="true" target="_BLANK"><img src="/img/icon/hitbox.svg" /></a>
        <a href="https://www.youtube.com/user/McManning" title="Adventures on YouTube" data-bypass="true" target="_BLANK"><img src="/img/icon/youtube.svg" /></a>
    </div>
</div>
