
<!-- Main navigation pane -->

<div class="logo-background"></div>
<div class="header-content">

    <div class="current-page hidden">
        <h1>Currently On</h1>
        <a href="#"><img src="#"/><h2>I HAVE NO IDEA</h2></a>
    </div>

    <% if (profile) { %>
    <div class="profile">
        <h1>Hi <%- profile.username %></h1>
        <button type="button" class="logout-button bordered purple">LOGOUT</button>
    </div>
    <% } else { %>
    <div class="login">
        <h1>Login</h1>
        <form class="login-form inverted">
            <label for="username">USERNAME</label>
            <input id="username" name="username" type="text" value="" data-validate="required,min(4)" />
            <div class="validation-error hidden" data-for="username"></div>

            <label for="password">PASSWORD</label>
            <input id="password" name="password" type="password" value="" data-validate="required,min(8)" />
            <div class="validation-error hidden" data-for="password"></div>

            <div class="register-fields hidden">
                <label for="password2">PASSWORD (AGAIN)</label>
                <input id="password2" name="password2" type="password" value="" data-validate="required,min(8),newPasswordConfirm" />
                <div class="validation-error hidden" data-for="password2"></div>

                <input id="agreement" name="agreement" type="checkbox" data-validate="agreement" />
                <label for="agreement">
                    I AGREE TO MY <a href="/terms">TERMS OF SURRENDER</a>
                    <div class="validation-error hidden" data-for="agreement"></div>
                </label>
                
            </div>
            <div class="controls">
                <!-- Since there's not a native "Submit" button, hitting enter on a form input will trigger
                    the first button in the list. So we have to shuffle them a bit... -->
                <button type="submit" class="login-button bordered purple">LOGIN</button>
                <button type="button" class="new-user-button purple">NEW HERE?</button>
            </div>
        </form>
    </div>
    <% } %>

    <div class="pages">
        <h1>Pages</h1>
        
        <% if (profile) { %>
        <a href="/minecraft"><h2>MINECRAFT</h2><img src="/img/icon/minecraft.svg"/></a>
        <a href="/projects"><h2>PROJECTS</h2><img src="/img/icon/projects.svg"/></a>
        <a href="/live"><h2>LIVE</h2><img src="/img/icon/live.svg"/></a>
        <a href="/mumble"><h2>MUMBLE</h2><img src="/img/icon/mumble.svg"/></a>

        <a href="/profile"><h2>PROFILE</h2><img class="avatar" src="<%- profile.avatar_url %>"/></a>
        <% } else { %>
        <a href="/soon"><h2>MINECRAFT</h2><img src="/img/icon/minecraft.svg"/></a>
        <a href="/soon"><h2>PROJECTS</h2><img src="/img/icon/projects.svg"/></a>
        <a href="/live"><h2>LIVE</h2><img src="/img/icon/live.svg"/></a>
        <a href="/soon"><h2>MUMBLE</h2><img src="/img/icon/mumble.svg"/></a>

        <a class="flash-login" href="#"><h2>LOGIN</h2><img src="/img/icon/login.svg"/></a>
        <% } %> 
    </div>

    <div class="clearfix"></div>

    <div id="mmm-hamburgers">
        <!-- Modified by CSS nth-child magic -->
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <div class="header-logo">
        <!-- Standard image based logo -->
        <div class="logo"></div>

        <!-- Shenanigans SVG variation -->
        <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            width="505"
            height="520"
            id="sybolt-logo"
            version="1.1"
            viewbox="0 0 505 520">

            <g class="world" transform="translate(-122,-255)">
                <path 
                    class="ring" 
                    d="m 362.63594,292.72156 c -132.35109,0 -239.65625,107.27391 -239.65625,239.625 0,132.35109 107.30516,239.65625 239.65625,239.65625 132.35109,0 239.625,-107.30516 239.625,-239.65625 0,-132.35109 -107.27391,-239.625 -239.625,-239.625 z m 1.78125,11.0625 c 125.64478,0 227.5,102.17948 227.5,228.21875 0,126.03927 -101.85522,228.21875 -227.5,228.21875 -125.64478,0 -227.5,-102.17948 -227.5,-228.21875 0,-126.03927 101.85522,-228.21875 227.5,-228.21875 z" 
                    style="fill: #d0d0d0;fill-opacity:1;stroke:none"></path>
                <path 
                    class="sky" 
                    d="m 371.91719,305.90906 c -125.05305,0 -226.4375,101.38445 -226.4375,226.4375 0,125.05305 101.38445,226.4375 226.4375,226.4375 125.05305,0 226.4375,-101.38445 226.4375,-226.4375 0,-125.05305 -101.38445,-226.4375 -226.4375,-226.4375 z m 14.28125,48.21875 c 79.09506,0 143.21875,64.12369 143.21875,143.21875 0,79.09506 -64.12369,143.21875 -143.21875,143.21875 -79.09506,0 -143.21875,-64.12369 -143.21875,-143.21875 0,-79.09506 64.12369,-143.21875 143.21875,-143.21875 z" 
                    style="fill: #685475;fill-opacity:1;stroke:none"></path>
                <path 
                    class="moon" 
                    d="m 552.6957,327.75281 -58.6391,58.98627 c 29.49716,28.46876 47.84547,68.43823 47.84547,112.67041 0,86.45426 -70.08501,156.53928 -156.53928,156.53928 -43.91059,0 -83.58055,-18.0929 -112.00765,-47.21426 l -57.25045,57.56605 c 43.4394,45.18289 104.4941,73.31467 172.13009,73.31467 131.87262,0 238.78552,-106.88134 238.78552,-238.75396 0,-68.13323 -28.54919,-129.60318 -74.3246,-173.10846 z" 
                    style="fill: #D0D0D0;fill-opacity:1;stroke:none"></path>
            </g>
        </svg>
    </div>
</div>

