
<div id="player-container">
    <div id="live-offline"><h1>OFFLINE</h1></div>
    <div id="live-error"><h1>Unknown Error</h1></div>
    <div id="live-player-container">
        <div id="live-logo"></div>
        <div id="live-player"><!-- Contents will be overwritten by Flowplayer --></div>
    </div>
</div>

<!--div class="viewers">
    ... viewers ...
</div>

<div class="schedule">
    ... schedule ...
</div-->

<p>
    This is some padding to ensure we don't just touch the bottom border.
    La di da do da do.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus convallis eros at ultricies. In placerat congue porttitor. Duis blandit, nisl non egestas dictum, ex felis pulvinar enim, vehicula semper risus ipsum ut nibh. Cras sit amet mattis risus, sed posuere tellus. Donec eget nunc sed est vulputate ultricies eget quis arcu. Nulla dignissim dignissim mauris vitae feugiat. Donec accumsan erat augue, at egestas justo gravida eget. Mauris eu elit suscipit, posuere nunc at, posuere nibh. Sed eget tortor eu nisl elementum porttitor sit amet quis metus. Nullam rhoncus, velit sit amet egestas lacinia, magna lectus gravida ipsum, sed molestie dolor leo suscipit odio. Mauris dapibus risus eget turpis pulvinar malesuada. Sed fermentum nulla a leo lacinia commodo.
</p>
<p>
Quisque laoreet velit sit amet sapien rhoncus ultrices. Cras imperdiet, mauris et elementum tempor, tellus ipsum gravida turpis, eu aliquam risus tortor sed mi. Etiam rhoncus ultricies nibh, ut elementum leo facilisis non. Nullam eu nisl vel erat ultrices pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque fermentum enim sagittis tortor tristique egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sed quam purus. Donec eget ultrices lorem. In mattis urna ac commodo aliquet. Vestibulum rutrum nulla felis, eu semper nibh placerat sit amet. Suspendisse nec interdum felis.
</p>