<br/>
<br/>
<br/>
<br/>

<div class="content-left privacy-policy">
    <h1 class="full-width">PRIVACY POLICY</h1>

    <p>
    Something about storage of cookies and how we use them
    </p>
    <p>
    Something about how we collect information / personally identifiable information
    </p>
    <p>
    Something about how we use information / perosnally identifiable information
    </p>
    <p>
    Something about children under the age of 13 (Mark)
    </p>
    <p>
    Something about opting out policies
    </p>
    <p>
    Something about usage of Steam API, as per Valve TOS: http://steamcommunity.com/dev/apiterms
    </p>
    <p>
    Some contact information
    </p>
</div>
