{% extends "love/layout.html.j2" %}

{% block love_content %}

    <!-- Love Machine - Pair two people together and find out how well they match up -->
    <section class="heartbroken grey darken-4 center">
        <div class="message">
            <img src="/img/love/heartbroken.svg">
            You will never be with imaginary people :(
        </div>
        <p class="red-text text-lighten-1">
            <a href="/love"><i class="material-icons">arrow_back</i> Go back and try again</a>
        </p>
    </section>

{% endblock %}
