{% extends "love/layout.html.j2" %}

{% block love_content %}

    <!-- Love Machine - Pair two people together and find out how well they match up -->
    <section class="love-machine grey darken-4 center">
        <div class="shipping">
            I want to ship 
            <a class="shipping shipping-left" href="#" data-activates="shipping-left-list">{{ left }}</a>
            <ul id="shipping-left-list" class="shipping-list dropdown-content">
            {% for participant in participants %}
                <li><a href="#!">{{ participant }}</a></li>
            {% endfor %}
            </ul>
            and 
            <a class="shipping shipping-right" href="#" data-activates="shipping-right-list">{{ right }}</a>
            <ul id="shipping-right-list" class="shipping-list dropdown-content">
            {% for participant in participants %}
                <li><a href="#!">{{ participant }}</a></li>
            {% endfor %}
            </ul>
            together!
        </div>
        <p class="red-text text-lighten-1"><i class="material-icons">info_outline</i> Click a name to change the pairing</p>
    </section>

    <section class="side-by-side red lighten-1">
        <h1>Individual Analysis</h1>

        <div class="row">
            <div class="col s6 side-by-side-left">
                <h1 class="card-title">Results for <span class="person blue-text text-lighten-3"></span></h1>
                <div class="row">
                    <div class="col s8 card-panel red lighten-3 white-text">
                        <p>
                            <span class="person person-left">{{ left }}</span>
                            <span class="top-phrase"></span>
                        </p>
                        <p>
                            <span class="person person-left">{{ left }}</span>
                            <span class="bottom-phrase"></span>
                        </p>
                    </div>
                    <div class="col s4">
                        <ul>
                            <li>
                                <i class="material-icons green-text text-lighten-2">arrow_upward</i> 
                                <span class="top-1 category"></span>
                            </li>
                            <li>
                                <i class="material-icons  green-text text-lighten-2">arrow_upward</i> 
                                <span class="top-2 category"></span>
                            </li>
                            <li class="break"></li>
                            <li>
                                <i class="material-icons red-text text-darken-4">arrow_downward</i> 
                                <span class="bottom-2 category"></span>
                            </li>
                            <li>
                                <i class="material-icons red-text text-darken-4">arrow_downward</i>
                                <span class="bottom-1 category"></span>
                            </li>
                        </ul>
                    </div>
                </div> <!-- .row -->
                <div class="chart-container"></div>
                <div class="chart-label white-text"><span class="person person-left">{{ left }}</span>'s Top 5</div>
            </div> <!-- .col.s6 -->

            <div class="col s6 side-by-side-right">

                <h1 class="card-title">Results for <span class="person green-text text-lighten-3"></span></h1>
                <div class="row">
                    <div class="col s8 card-panel red lighten-3 white-text">
                        <p>
                            <span class="person person-right">{{ right }}</span>
                            <span class="top-phrase"></span>
                        </p>
                        <p>
                            <span class="person person-right">{{ right }}</span>
                            <span class="bottom-phrase"></span>
                        </p>
                    </div>
                    <div class="col s4">
                        <ul>
                            <li>
                                <i class="material-icons green-text text-lighten-2">arrow_upward</i> 
                                <span class="top-1 category"></span>
                            </li>
                            <li>
                                <i class="material-icons  green-text text-lighten-2">arrow_upward</i> 
                                <span class="top-2 category"></span>
                            </li>
                            <li class="break"></li>
                            <li>
                                <i class="material-icons red-text text-darken-4">arrow_downward</i> 
                                <span class="bottom-2 category"></span>
                            </li>
                            <li>
                                <i class="material-icons red-text text-darken-4">arrow_downward</i>
                                <span class="bottom-1 category"></span>
                            </li>
                        </ul>
                    </div>
                </div> <!-- .row -->
                <div class="chart-container"></div>
                <div class="chart-label white-text"><span class="person person-right">{{ right }}</span>'s Top 5</div>
            </div> <!-- .col.s6 -->

        {# <button class="btn white pink-text">Show top 5 for both individuals</button>
                <br>
                Compare Kinks (Pick 5)
                <select multiple>
                    <option value="" disabled selected>Pick 5 kinks</option>
                    <option value="1">Bondage Giver</option>
                    <option value="2">Bondage Receiver</option>
                    <option value="3">Switch</option>
                </select> #}
    </section>

    <section class="analysis grey darken-4 sort-default show-all-categories">
        <h1>
            Shipping Analysis of    
            <span class="blue-text text-lighten-2 person person-left">{{ left }}</span> x 
            <span class="green-text text-lighten-2 person person-right">{{ right }}</span>
        </h1>

        <div id="shipping-chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <button class="btn red sort-shipping right">sort by averages</button>
        {# <button class="btn red top-shipping">show top 10</button> #}
    </section>

    <section class="results red lighten-1">
        <h1>Final Results</h1>

        <div class="row">

            <div class="col s4">

                <div class="results card-panel red lighten-2 center">
                    <div class="results-title white-text"><span id="top-1-percent">0</span>%</div>
                    <div class="results-details white-text top-1-info"></div>
                </div>
            </div>

            <div class="col s4">
                <div class="results card-panel red lighten-2 center">
                    <div class="results-title white-text"><span id="top-2-percent">0</span>%</div>
                    <div class="results-details white-text top-2-info"></div>
                </div>
            </div>

            <div class="col s4">
                <div class="results card-panel red lighten-2 center">
                    <div class="results-title white-text"><span id="top-3-percent">0</span>%</div>
                    <div class="results-details white-text top-3-info"></div>
                </div>
            </div>

        </div> <!-- .row -->
        <div class="more-information white-text row">
            <div class="col s6">
                <i class="material-icons">favorite</i>
                <p class="top-details"></p>

                <i class="material-icons">block</i>
                <p class="bottom-details"></p>
            </div>
            <div class="col s6">
                <p class="left-difference"></p>
                <p class="right-difference"></p>
            </div>
        </div>
        <div class="success-or-fail center white-text">
            <i class="material-icons">favorite</i>
            <p></p>
        </div>

        <div class="center">
            <a href="#" class="try-another">
                <i class="material-icons">keyboard_arrow_up</i>
                Ship another couple?
            </a>
        </div>

        <a class="credits right" href="http://bdsmtest.org/" target="_BLANK">Test results courtesy of bdsmtest.org</a>
        <div class="clearfix"></div>
    </section>

    <!-- More information modal for each category -->

    {% for c in categories %}
    <div class="modal modal-tmyk bottom-sheet" data-category="{{ c.category }}">
        <div class="modal-content grey darken-4">
            <div class="row">
                <div class="col s2">
                    <img class="responsive-img" src="/img/love/tmyk.png">
                </div>
                <div class="col s10">
                    <h1>{{ c.category }}<i class="material-icons modal-action modal-close right">close</i></h1>
                    <h3>
                        {{ c.average }}% Average Interest.
                        {% if c.related != c.category %}
                        Related to <span class="category">{{ c.related }}</span>
                        {% endif %}
                    </h3> 
                    <p class="description">{{ c.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
