
<!-- flowplayer javascript component -->

<!-- @todo move this into a RequireJS requirement -->
<script src="http://releases.flowplayer.org/js/flowplayer-3.2.13.js"></script>


<div id="player-container">
    <div id="live-offline"><h1>OFFLINE</h1></div>
    <div id="live-error"><h1>Unknown Error</h1></div>
    <div id="live-player-container">
        <div id="live-logo"></div>
        <div id="live-player"><!-- Contents will be overwritten by Flowplayer --></div>
    </div>
</div>

<!--div class="viewers">
    ... viewers ...
</div>

<div class="schedule">
    ... schedule ...
</div-->
