
<a id="trailer-anchor" href="#" class="hidden" target="_BLANK"></a>

<div class="content-left">

    <h1 class="full-width">SEARCH FOR A MOVIE <button class="show-schedule bordered">Show schedule</button></h1>

    <form id="tmdb-search">
        <input type="text" value="" placeholder="Search..." />
        <button class="bordered green large">Search</button>
    </form>

    <div id="search-error" style="display: none"></div>

    <div id="search-results" style="display: none">
        <h2>SEARCH RESULTS <span style="color:#666">(<span id="search-result-count"></span>)</span></h2>

        <div class="posters-container" style="display: none">
            <!-- The actual isotope container for posters to be sorted -->
            <div class="isotope-container"></div>
        </div>

        <!-- details view container -->
        <div class="movie-details-container" style="display: none"></div>

        <div id="too-many-results-warning" style="display:none">YOU HAVE TOO MANY RESULTS, NARROW YOUR SEARCH FOOL.</div>

        <!--a id="search-next-page" href="#" style="display: none">Load Next Page</a-->
    </div>
</div>

<div class="content-left">

    <h1 class="full-width">MY MOVIES</h1>

    <div id="favorites-list">

        <div class="posters-container">
        <% if (favorites.length > 0) { %>
            <% _.each(favorites, function(movie, index) { %>
                <div class="favorite-movie" data-favorite-index="<%- index %>">
                    <img src="http://image.tmdb.org/t/p/w154/<%- movie.poster_path %>" 
                        alt="<%- movie.title %>" title="<%- movie.title %>" />
                </div>
            <% }) %>
        <% } else { %>
            No favorites!
        <% } %>
        </div>

        <div class="movie-details-container" style="display: none"></div>
    </div>

</div>