
<div class="schedule-card">
    <!-- Card with picker icon, date, and movie title -->
    <div class="title">
        <img src="/img/default-profile-icon.png" />
        <h2><%- movie.date_fmt %></h2>

        <% if (movie.title !== null) { %>
            <p><%- movie.title %></p>
        <% } else { %> 
            <p><i>Not yet announced</i></p>
        <% } %>
    </div>

    <!-- Card with poster, synopsis, and links -->
    <div class="details">
        <div class="poster-container">
            <% if (movie.poster !== null) { %>
                <img class="poster" src="<%- movie.poster %>" />
            <% } else { %>
                <img class="poster" src="/img/movie-tba.png" />
            <% } %>
        </div>

        <div class="content">
            <% if (movie.synopsis !== null) { %>
            <strong>Synopsis</strong>
            <p class="synopsis">
                <%- movie.synopsis %>
            </p>
            <% } %>

            <% if (movie.user !== null) { %>  
                <strong>Picked By</strong>
                <p class="picked-by">
                    <%- movie.user %>
                </p>
            <% } else { %>
                <strong>Not yet assigned to a member</strong>
            <% } %>

            <ul class="links">
                <% if (movie.trailer !== null) { %> <li><a class="trailer" href="<%- movie.trailer %>">Watch the Trailer</a></li> <% } %>
                <% if (movie.imdb !== null) { %> <li><a class="imdb" href="<%- movie.imdb %>">View on IMDb</a></li> <% } %>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Editor to modify movie details -->
    <div class="editor hidden">
        <form class="small">
            <fieldset class="full">
                <div class="text">
                    <label for="title-0">TITLE</label>
                    <input type="text" id="title-0" name="title" value="<%- movie.title %>" />
                </div>
                <div class="textarea">
                    <label for="synopsis-0">SYNOPSIS</label>
                    <textarea id="synopsis-0" name="synopsis" rows="4"><%- movie.synopsis %></textarea>
                </div>
                <div class="text">
                    <label for="trailer-0">TRAILER</label>
                    <input type="text" id="trailer-0" name="trailer" value="<%- movie.trailer %>" />
                </div>
                <div class="text">
                    <label for="imdb-0">IMDB</label>
                    <input type="text" id="imdb-0" name="imdb" value="<%- movie.imdb %>" />
                </div>
                <div class="text">
                    <label for="poster-0">POSTER</label>
                    <input type="text" id="poster-0" name="poster" value="<%- movie.poster %>" />
                </div>
                <div class="text">
                    <label for="user-0">USER</label>
                    <input type="text" id="user-0" name="user" value="<%- movie.user %>" />
                </div>
            </fieldset>

            <div class="controls">
                <button type="button" class="cancel-edit">Cancel</button>
                <button type="submit" class="save-edit bordered green">Save Changes</button>
            </div>

            <div class="clearfix"></div>
        </form>
    </div>

</div>
