
<div class="content-left">
    <h1 class"full-width">SCHEDULE</h1>

    <!--h2>THEME: <%- theme %></h2-->

    <div class="nav">
        <button id="last-month" type="button" class="bordered large"><%- last_month %> </button>
        <span id="this-month"><%- this_month %></span>
        <button id="next-month" type="button" class="bordered large"><%- next_month %></button>
    </div>

    <!-- Render containers for each schedule-card to render in via their own views -->
    <% _.each(movie_ids, function(id) { %>    
    <div id="schedule-card-<%= id %>" class="schedule-card-container"></div>    
    <% }); // .each(movie_ids) %>

</div>
