
<div class="content-left">
    <h1 class="full-width">SCHEDULE</h1>

    <!--h2>THEME: <%- theme %></h2-->

    <div class="nav">
        <% if (last_month !== null && last_month.length > 0) { %>
        <button id="last-month" type="button" class="bordered large"><%- last_month %> </button>
        <% } %>

        <span id="this-month"><%- this_month %></span>

        <% if (next_month !== null && next_month.length > 0) { %>
        <button id="next-month" type="button" class="bordered large"><%- next_month %></button>
        <% } %>
    </div>

    <% if (movie_dates.length < 1) { %>
        <div class="no-schedule">
            <h1>No movies have been scheduled for this month</h1>
        </div>
    <% } else { %>

        <!-- Render containers for each schedule-card to render in via their own views -->
        <% _.each(movie_dates, function(date) { %>    
        <div id="schedule-card-<%= date %>" class="schedule-card-container"></div>    
        <% }); %>

    <% } %>

    <% if (profile) { %>
        <a id="add-schedule-card" href="#">Add New Movie</a>
    <% } %>
</div>
